nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: black;
    color: #fff;
    padding: 0 25px;
    height: 8vh;

    .left-nav {
        display: flex;
        flex-wrap: wrap;

        img {
            padding-top: 5px;
        }

        .onglets {
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            padding-top: 10px;

            p {
                margin-left: 10px;
                cursor: pointer;
                color: #909191;
                font-size: 1.3rem;
                transition: 0.2s;

                @media screen and (max-width: 1060px) {
                    display: none;
                }

                &:hover { 
                    color: whitesmoke;
                    transition: 0.2s; 
                }
            }
        }
    }

    .right-nav {
        display: flex;
        flex-wrap: wrap;

        p {
            margin-right: 15px;
            cursor: pointer;
            padding-top: 15px;
            font-size: 1.3rem;

            &:hover {
                color: #909191;
            }
         }
    }
}